<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>373665281960-c4h0q4o57giuaqdpq10tgpf699hpmsud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373665281960-c4h0q4o57giuaqdpq10tgpf699hpmsud</string>
	<key>API_KEY</key>
	<string>AIzaSyBBzGQSKs7iUsNV2UpDSPEJjTqw1PR2kDg</string>
	<key>GCM_SENDER_ID</key>
	<string>373665281960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eww.ezygo-Rider</string>
	<key>PROJECT_ID</key>
	<string>infinite-line-135923</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-line-135923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373665281960:ios:89c6aada979784b9</string>
	<key>DATABASE_URL</key>
	<string>https://infinite-line-135923.firebaseio.com</string>
</dict>
</plist>